@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,700;1,400&display=swap');

html{
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #E6EFF6;
    color: #E6EFF6;
}

.card, button {
    box-shadow: 3px 2px 11px -1px rgba(0,0,0,0.51);
}

.card {
    border-radius: 7px;
    height: 475px;
    margin: auto;
    margin-top: 163.50px;
    overflow: hidden;
    width: 635px;
}

.top-section {
    background-color: #FFFFFF;
    height: 45%;
    padding: 21px;
    padding-left: 40px;
    width: 100%;
}

.top-section h2 {
    color: #2ab2af;
    font-size: 1.46rem;
    font-weight: 700;
}

.top-section h4 {
    color: #c0df34;
    font-size: 1.1rem;
}

.top-section .content {
    color: #98a6bd;
    line-height: 0.5rem;
    font-size: 0.935rem;
}


.bottom-section {
    display: flex;
    height: 55%;
    width: 100%;
}

.bottom-left-section, .bottom-right-section {
    height: 100%;
    padding:20px;
    padding-left: 40px;
    width: 50%;
}

.bottom-left-section {
    background-color: #2ab2af;
}

.bottom-left-section h4 {
    font-size: 1.13rem;
    line-height: 1rem;
}

.bottom-left-section .price {
    display: flex;
}

.bottom-left-section .price .price-value {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.9rem;
}

.bottom-left-section .price .price-frequency {
    font-size: 0.95rem;
    opacity: 0.5;
    padding: 7.6px;
    padding-left: 10.5px;
}

.bottom-left-section p {
    font-size: 0.935rem;
    position: relative;
    top: -5px;
}

button {
    background-color: #c0df34;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    height: 50px;
    margin-top: 9.5px;
    width: 238.188px;
}

button:hover {
    background-color: #c0de37bc;
    cursor: pointer;
}

.bottom-right-section {
    background-color: #4ABEBD;
}

.bottom-right-section h4 {
    font-size: 1.13rem;
    line-height: 1rem;
}

.bottom-right-section ul {
    font-size: 0.8rem;
    line-height: 1.2rem;
    list-style: none;
    padding: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

.attribution a {
    color: hsl(228, 45%, 44%);
  }
